{%
  set classes = [
    'btn',
     'text-light',
    'btn-outline-dark',
    'btn-lg',
    'noBorder'
  ]
%}
{% if variant == 'green' %}
    {%
      set classes = classes|merge([
        'btn-success'
      ])
    %}
{% endif %}

<a href="{{url}}" {{ attributes.addClass(classes) }} >{{text}}</a>